.list {
  list-style: none;
  padding:15px;
  margin: 0;
  
}
.list > li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 10px;
}
.contacts__btn {
  background-color: #7878bd;
  margin-top: 10px;
  font-size: 16px;
  padding: 4px 6px;
  height: auto;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
}
